<ng-container *ngIf="launchList.length > 0">
  <div class="row">
    <div class="col text-center">
      <h5>{{ this.launchType + " launches" | titlecase }}</h5>
    </div>
  </div>
  <div class="row my-1">
    <div class="col">
      Filter by :
      <select
        class="custom-select"
        title="Select filter"
        (change)="onFilterChange($event)"
      >
        <option value="" selected>All</option>
        <option value="manned">Manned</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12 my-1" *ngFor="let launch of launchList">
      <app-single-launch-card [launchInfo]="launch"></app-single-launch-card>
    </div>
  </div>
</ng-container>
