
  <div class="card my-2">    
    <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
      <img class="img-fluid" [src]="this.launchInfo?.image"
        [alt]="this.launchInfo.name" />
      <a [routerLink]="['/launchdetail',this.launchInfo.slug]">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">
        Recently, we added several exotic new dishes to our restaurant menu. They come from
        countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
        our juicy meals from around the world.
      </p>      
    </div>
  </div>

